# Ignore version control
.git
.gitignore

# Ignore local Flutter/Dart build artifacts
build/
.dart_tool/
.packages


# Ignore local sensitive data (Hive storage)
*.hive
path_to_your_local_db/

# Ignore documentation and IDE settings
.idea/
.vscode/
*.md